@model webapp.Models.ViewModels.RolesViewModel;

<form>
    @* This is invisible but important
        It's how we populate the `Email` field which is required in the request ViewModel
        (HTMX sends all data in form. The field has to be active) *@
    <input name="Email" class="invisible" value="@Model.Email" />
    <p>@Model.Email</p>
    @foreach(var role in Model.Roles)
    {
        <p>@role</p>
    }

    <select name="Role"
        class="role-select"
        hx-get="/Form/Roles" @* check out the FormsController *@
        hx-trigger="intersect once"
        hx-target="this"
        hx-swap="outerHTML"
        hx-disabled-elt="next .role-submit"
    >
        <!option>Loading...</!option>
    </select>
    <button class="btn btn-primary role-submit"
        hx-post="/Roles/Edit"
        hx-trigger="click"
        hx-target="closest form"
        hx-swap="outerHTML"
        hx-confirm="Are you sure you want to toggle this role on @(Model.Email)?"
        hx-disabled-elt="this"
    >
        Toggle Role
    </button>
</form>


