@model webapp.Models.ViewModels.GroupListViewModel;
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Groups</h1>
</div>

<form>
    <label for="Name">New Group Name</label>
    <input name="Name" class="form-control" />

    <label for="StudentEmail">New Group Leader</label>
    <select name="StudentEmail"
        hx-get="/Form/Students"
        hx-trigger="intersect once"
        hx-target="this"
        hx-swap="innerHTML"
        hx-disabled-elt="next .add-member"
    >
        <!option>Loading...</!option>
    </select>

    <button id="this-button" class="btn btn-primary"
        hx-post="/Groups/Add"
        hx-trigger="click"
        hx-target="next .new-placeholder"
        hx-swap="outerHTML"
        hx-confirm="Are you sure you want to create this new group?"
    >
        Add Group
    </button>
</form>

@foreach(var group in Model.Groups)
{
    @await Html.PartialAsync("/Views/Groups/_GroupPartial.cshtml", group)
}

<script>
document.body.addEventListener("htmx:beforeRequest", (evt) => {
    console.log(evt.detail.requestConfig)
})
</script>


