<div class = "about-all">
    <div class = "about-title">
        <h1 class="text-center poppins" style="font-weight:bold;">About RAMS-Doc</h1>
    </div>  

    <div class = "about-info pt-5">
        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus 
    mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim.</p>
    </div>
</div>