<body style="background-color: rgb(247, 247, 247);">

    <div class="ps-5 py-3">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item active" aria-current="page">Submit a project</li>
            </ol>
        </nav>
    </div>

    <h1 class="greeting" style="display: flex;
            color: rgb(0, 0, 0);
            margin-left: 45px;
            margin-bottom: 45px;">> Submit a Project</h1>

    <div class="border p-5">
        <form>
            <div class="py-2">
                <h3>Project Details</h2>
                    <div class="row">
                        <div class="col">
                            <label>Project Title</label>
                            <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Title">
                        </div>
                        <div class="col">
                            <label>Abstract</label>
                            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                        </div>
                    </div>

                    <div class="py-4">
                        <h3>Project Tags</h2>
                            <div class="row">
                                <div class="col">
                                    <label>School/Department</label>
                                    <select class="form-select">
                                        <option>Select...</option>
                                        <option>School of Computing and Information Technology</option>
                                        <option>School of Management</option>
                                        <option>School of Multimedia Arts</option>
                                    </select>
                                </div>
                                <div class="col">
                                    <label>Course</label>
                                    <select class="form-select">
                                        <option>Select...</option>
                                        <option>Computer Science</option>
                                        <option>Information Technology</option>
                                    </select>
                                </div>
                            </div>

                            <div class="row pt-3">
                                <div class="col">
                                    <label>Subject</label>
                                    <select class="form-select">
                                        <option>Select...</option>
                                        <option>CSPROJ</option>
                                        <option>PROJMAN</option>
                                        <option>SOFTDEV</option>
                                    </select>
                                </div>
                                <div class="col">
                                    <!-- this is for multiple tags, change the input tag later -->
                                    <label>Categories</label>
                                    <input type="text" class="form-control" placeholder="Tags">
                                </div>
                            </div>
                    </div>

                    <div class="py-4">
                        <h3>Project Involvement</h2>
                            <div class="row">
                                <div class="col">
                                    <label>Contributor/Co-Authors</label>
                                    <select class="form-select">
                                        <option>Select...</option>
                                        <option>Jane Doe</option>
                                        <option>John Smith</option>
                                        <option>Anna Karenina</option>
                                    </select>
                                </div>
                                <div class="col">
                                    <label>Adviser</label>
                                    <select class="form-select">
                                        <option>Select...</option>
                                        <option>Jojo Castillo</option>
                                        <option>Jose Eugenio Quesada</option>
                                    </select>
                                </div>
                            </div>

                            <div class="row pt-3">
                                <div class="col">
                                    <label>Consultant</label>
                                    <select class="form-select" id="choices-multiple-remove-button" multiple>
                                        <option>Select...</option>
                                        <option>Jayvee Cabardo</option>
                                        <option>Diana Lachica</option>
                                        <option>Roselle Wednesday Gardon</option>
                                    </select>
                                </div>
                                <div class="col">
                                    <label>Professor</label>
                                    <select class="form-select">
                                        <option>Select...</option>
                                        <option>Manuel Sebastian Sanchez</option>
                                        <option>Jayvee Cabardo</option>
                                        <option>Roselle Wednesday Gardon</option>
                                    </select>
                                </div>
                            </div>
                    </div>

                    <div class="py-4">
                        <h3>Project Files</h2>
                            <div class="custom-file py-3">
                                <input type="file" class="custom-file-input" id="customFile">
                            </div>
                            <div class="custom-file pb-3">
                                <input type="file" class="custom-file-input" id="customFile">
                            </div>
                            <div class="custom-file">
                                <input type="file" class="custom-file-input" id="customFile">
                            </div>
                    </div>
            </div>
        </form>
    </div>

    <div class="row me-5 mt-5 float-end">
        <div class="col">
            <button type="button" class="btn btn-danger">Cancel</button>
        </div>
        <div class="col">
            <button type="button" class="btn btn-secondary" style="background-color: #383841;">Submit</button>
        </div>
    </div>

    <div class="container d-flex justify-content-center py-5 my-5">
        <h1>3/14 PRF Start</h1>
    </div>
    </div>
</body>