<div class="pt-3">
    <h1 class="poppins" style="font-weight:bold;">All Groups</h1>
</div>

<div class="container pt-2 px-2">
    
    <div class="d-flex justify-content-between align-items-center">
        
        <!-- <div class="position-relative">
            <span class="position-absolute search"><i class="fa fa-search"></i></span>
            <input class="form-control w-100" placeholder="Search by order#, name...">
        </div> -->
        
        <!--<div class="px-2">
            
            <span>Filters <i class="fa fa-angle-down"></i></span>
            <i class="fa fa-ellipsis-h ms-3"></i>
        </div> -->

    </div>

    
    <div class="table-responsive">
    <table class="table table-responsive table-borderless">
        
      <thead>
        <tr class="bg-light">
          <th scope="col" width="3%"></th>
          <th scope="col" width="50%">Group Name</th>
          <th scope="col" width="20%">Year Level</th>
          <th scope="col" width="20%">Subject</th>
          <th scope="col" width="7%">Members</th>
        </tr>
      </thead>
  <tbody>
    <tr>
        <td></td>
      <td class="link-hover"><a href="#">Group 1</a></td>
      <td class="text-muted"><span class="ms-1">1st Year</span></td>
      <td class="text-muted">SNTSDEV</td>
      <td>
        <ul class="list-inline mb-0"><div class="row">
        <div class="col">
            <label>Member 1</label>
            <label>Member 2</label>
            <label>Member 3</label>
        </ul>
        </td>
    </tr>
    
    <tr>
        <td></td>
      <td class="link-hover"><a href="#">Group 2</a></td>
      <td class="text-muted"><span class="ms-1">2nd Year</span></td>
      <td class="text-muted">SSYADD</td>
      <td>
        <ul class="list-inline mb-0"><div class="row">
        <div class="col">
            <label>Member 1</label>
            <label>Member 2</label>
            <label>Member 3</label>
        </ul>
        </td>
    </tr>
    
    
    <tr>
        <td></td>
      <td class="link-hover"><a href="#">Group 3</a></td>
      <td class="text-muted"><span class="ms-1">3rd Year</span></td>
      <td class="text-muted">SCSPROJ</td>
      <td>
        <ul class="list-inline mb-0"><div class="row">
        <div class="col">
            <label>Member 1</label>
            <label>Member 2</label>
            <label>Member 3</label>
        </ul>
        </td>
    </tr>
    
    
    <tr>
        <td></td>
      <td class="link-hover"><a href="#">Group 4</a></td>
      <td class="text-muted"><span class="ms-1">4th Year</span></td>
      <td class="text-muted">PROJMAN</td>
      <td>
        <ul class="list-inline mb-0"><div class="row">
        <div class="col">
            <label>Member 1</label>
            <label>Member 2</label>
            <label>Member 3</label>
        </ul>
        </td>
    </tr>

    <tr>
        <td></td>
      <td class="link-hover"><a href="#">Group 5</a></td>
      <td class="text-muted"><span class="ms-1">1st Year</span></td>
      <td class="text-muted">SNTSDEV</td>
      <td>
        <ul class="list-inline mb-0"><div class="row">
        <div class="col">
            <label>Member 1</label>
            <label>Member 2</label>
            <label>Member 3</label>
        </ul>
        </td>
    </tr>

    <tr>
        <td></td>
      <td class="link-hover"><a href="#">Group 6</a></td>
      <td class="text-muted"><span class="ms-1">2nd Year</span></td>
      <td class="text-muted">SSYADD</td>
      <td>
        <ul class="list-inline mb-0"><div class="row">
        <div class="col">
            <label>Member 1</label>
            <label>Member 2</label>
            <label>Member 3</label>
        </ul>
        </td>
    </tr>

    <tr>
        <td></td>
      <td class="link-hover"><a href="#">Group 7</a></td>
      <td class="text-muted"><span class="ms-1">3rd Year</span></td>
      <td class="text-muted">SCSPROJ</td>
      <td>
        <ul class="list-inline mb-0"><div class="row">
        <div class="col">
            <label>Member 1</label>
            <label>Member 2</label>
            <label>Member 3</label>
        </ul>
        </td>
    </tr>

    <tr>
        <td></td>
      <td class="link-hover"><a href="#">Group 8</a></td>
      <td class="text-muted"><span class="ms-1">4th Year</span></td>
      <td class="text-muted">PROJMAN</td>
      <td>
        <ul class="list-inline mb-0"><div class="row">
        <div class="col">
            <label>Member 1</label>
            <label>Member 2</label>
            <label>Member 3</label>
        </ul>
        </td>
    </tr>

    <tr>
        <td></td>
      <td class="link-hover"><a href="#">Group 9</a></td>
      <td class="text-muted"><span class="ms-1">1st Year</span></td>
      <td class="text-muted">SNTSDEV</td>
      <td>
        <ul class="list-inline mb-0"><div class="row">
        <div class="col">
            <label>Member 1</label>
            <label>Member 2</label>
            <label>Member 3</label>
        </ul>
        </td>
    </tr>

    <tr>
        <td></td>
      <td class="link-hover"><a href="#">Group 10</a></td>
      <td class="text-muted"><span class="ms-1">2nd Year</span></td>
      <td class="text-muted">SSYADD</td>
      <td>
        <ul class="list-inline mb-0"><div class="row">
        <div class="col">
            <label>Member 1</label>
            <label>Member 2</label>
            <label>Member 3</label>
        </ul>
        </td>
    </tr>

    <tr>
        <td></td>
      <td class="link-hover"><a href="#">Group 11</a></td>
      <td class="text-muted"><span class="ms-1">3rd Year</span></td>
      <td class="text-muted">SCSPROJ</td>
      <td>
        <ul class="list-inline mb-0"><div class ="row">
        <div class="col">
            <label>Member 1</label>
            <label>Member 2</label>
            <label>Member 3</label>
        </ul>
        </td>
    </tr>
    
  </tbody>
</table>
  
  </div>
    
</div>