<body style="background-color: rgb(247, 247, 247);">
    <h1 class="greeting" style="display: flex;
            color: rgb(0, 0, 0);
            margin-left: 45px;
            margin-top: 45px;
            margin-bottom: 45px;">> Cataloging</h1>
    <form>
        <div class="py-3">

            @* BORDER *@
            <div class="border" style="
            border: 3px solid; border-radius: 15px;
            padding: 20px;
            box-shadow: 10px 10px 30px rgba(14, 14, 14, 0.2);
            border-color: #f5f5f5;
            background-color: rgba(255, 255, 255);
            margin-left: 45px;
            margin-right: 45px">

                <div class="row px-5">
                    <div class="py-3">
                        <div class="mb-4">
                            <label for="firstAuthorInput" class="form-label">First Author (110.a):</label>
                            <input type="text" class="form-control" id="firstAuthor" value="">
                        </div>
                        <div class="mb-4">
                            <label for="titleInput" class="form-label">Title (245.a):</label>
                            <input type="text" class="form-control" id="title" value="">
                        </div>
                        <div class="mb-4">
                            <label for="authorsInput" class="form-label">Authors (245.c):</label>
                            <input type="text" class="form-control" id="authors" value="">
                        </div>
                        <div class="mb-4">
                            <label for="abstractInput" class="form-label">Abstract (520.a):</label>
                            <input type="text" class="form-control" id="abstract" style="padding: 40px" value="">
                        </div>
                        <div class="mb-4">
                            <label for="urlInput" class="form-label">URL (856.u):</label>
                            <input type="text" class="form-control" id="url" value="">
                        </div>
                        <div class="mb-4">
                            <label for="labelInput" class="form-label">Label (856.y):</label>
                            <input type="text" class="form-control" id="label" value="">
                        </div>
                    </div>
                </div>
            </div>
        </div>

        @* BUTTON *@
        <div class="p-3 mx-5 float-end">
            <button type="submit" class="btn btn-primary" style="background-color: #383841;">Confirm</button>
        </div>
    </form>
</body>