@{
    ViewData["Title"] = "Home Page";
}

<div class="container-md justify-content-center text-center">
    <!-- we gotta think of a catchier line -->
    <h1 class="display-4 top-padding-space-7 poppins" style="font-weight:bold;">Submit your projects easily.</h1>
    <!-- explain below what ramsdoc is -->
    <p class="pt-4">RAMS-Doc (formerly APC Project Repository) aims to make your project document submission faster and easier.</p>
    <div class="top-padding-space-5">
    @if (User.Identity?.IsAuthenticated == true) {
    <button type="button" class="btn btn-upload btn-lg bebas-neue" style="letter-spacing: 3px;">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-cloud-upload-fill" viewBox="0 0 16 16">
  <path fill-rule="evenodd" d="M8 0a5.53 5.53 0 0 0-3.594 1.342c-.766.66-1.321 1.52-1.464 2.383C1.266 4.095 0 5.555 0 7.318 0 9.366 1.708 11 3.781 11H7.5V5.707L5.354 7.854a.5.5 0 1 1-.708-.708l3-3a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1-.708.708L8.5 5.707V11h4.188C14.502 11 16 9.57 16 7.773c0-1.636-1.242-2.969-2.834-3.194C12.923 1.999 10.69 0 8 0m-.5 14.5V11h1v3.5a.5.5 0 0 1-1 0"/>
</svg>
<a class="text-light" asp-area="" asp-controller="Home" asp-action="AddProject">   Add your project </a></button>
} else {
    <button type="button" class="btn btn-secondary btn-lg bebas-neue" style="letter-spacing: 3px;">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-microsoft" viewBox="0 0 16 16">
  <path d="M7.462 0H0v7.19h7.462zM16 0H8.538v7.19H16zM7.462 8.211H0V16h7.462zm8.538 0H8.538V16H16z"/>
</svg>   Sign in with Microsoft </button>
}

    </div>
</div>

<!-- <p><pre><code class="language-js">@ViewData["ApiResult"]</code></pre></p> -->
