<body style="background-color: aliceblue;">
    <h1 class="greeting" style="display: flex;
            justify-content: center;
            align-items: center;
            height: 20vh;
            color: rgb(114, 169, 201)">PROOFREADING REQUISITION FORM</h1>

    <form>
        <div class="py-5">

            @* BORDER *@
            <div class="border" style="
            border: 3px solid; border-radius: 15px;
            padding: 20px;
            box-shadow: 10px 10px 30px rgba(14, 14, 14, 0.2);
            border-color: #f5f5f5;
            background-color: rgba(255, 255, 255);
            margin-left: 45px;
            margin-right: 45px">


                @* FILL UP PART *@

                @* CLIENT *@
                <div class="row px-5">
                    <h1>Client</h1>
                    <div class="py-3">
                        <div class="mb-3">
                            <label for="exampleInputEmail1" class="form-label">Name:</label>
                            <input type="email" class="form-control" id="exampleInputEmail1"
                                aria-describedby="emailHelp">
                        </div>
                        <div class="mb-3">
                            <label for="exampleInputPassword1" class="form-label">Email / Phone Number:</label>
                            <input type="password" class="form-control" id="exampleInputPassword1">
                        </div>
                        <div class="mb-3">
                            <label for="exampleInputEmail1" class="form-label">Endorsed by:</label>
                            <input type="email" class="form-control" id="exampleInputEmail1"
                                aria-describedby="emailHelp">
                        </div>
                        <div class="mb-3">
                            <label for="exampleInputPassword1" class="form-label">Name of Executive Director:</label>
                            <input type="password" class="form-control" id="exampleInputPassword1">
                        </div>
                        <div class="custom-file">
                            <div class="row">
                                <label class="py-2">Signature of Executive Director:</label>
                                <input type="file" class="custom-file-input" id="customFile">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="py-5">

            @* BORDER *@
            <div class="border" style="
            border: 3px solid; border-radius: 15px;
            padding: 20px;
            box-shadow: 10px 10px 30px rgba(14, 14, 14, 0.2);
            border-color: #f5f5f5;
            background-color: rgba(255, 255, 255);
            margin-left: 45px;
            margin-right: 45px">


                @* FILL UP PART *@

                @* DOCUMENT *@
                <div class="row px-5">
                    <h1>Document</h1>
                    <div class="py-3">
                        <div class="mb-3">
                            <label for="exampleInputEmail1" class="form-label">Type:</label>
                            <input type="email" class="form-control" id="exampleInputEmail1"
                                aria-describedby="emailHelp">
                        </div>
                        <div class="mb-3">
                            <label for="exampleInputPassword1" class="form-label">Title:</label>
                            <input type="password" class="form-control" id="exampleInputPassword1">
                        </div>
                        <div class="mb-3">
                            <label for="exampleInputEmail1" class="form-label">Recieved by:</label>
                            <input type="email" class="form-control" id="exampleInputEmail1"
                                aria-describedby="emailHelp">
                        </div>
                        <div class="mb-3">
                            <label for="exampleInputEmail1" class="form-label">Date:</label>
                            <input type="email" class="form-control" id="exampleInputEmail1"
                                aria-describedby="emailHelp">
                        </div>
                        <label>Form:</label>
                        <ul class="list-group mb-3">
                            <div class="row">
                                <div class="col">
                                    <li class="list-group-item">
                                        <input class="form-check-input me-1" type="checkbox" value="" aria-label="...">
                                        Hard Copy
                                    </li>
                                </div>
                                <div class="col">
                                    <li class="list-group-item">
                                        <input class="form-check-input me-1" type="checkbox" value="" aria-label="...">
                                        Soft Copy
                                    </li>
                                </div>
                            </div>
                        </ul>
                        <div class="row">
                            <div class="col">
                                <div class="mb-3">
                                    <label for="exampleInputEmail1" class="form-label"># of pages:</label>
                                    <div class="col-4">
                                        <input type="email" class="form-control" id="exampleInputEmail1"
                                            aria-describedby="emailHelp">
                                    </div>
                                </div>
                            </div>
                            <div class="col">
                                <div class="mb-3">
                                    <label for="exampleInputEmail1" class="form-label"># of words:</label>
                                    <div class="col-4">
                                        <input type="email" class="form-control" id="exampleInputEmail1"
                                            aria-describedby="emailHelp">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="py-5">

            @* BORDER *@
            <div class="border" style="
            border: 3px solid; border-radius: 15px;
            padding: 20px;
            box-shadow: 10px 10px 30px rgba(14, 14, 14, 0.2);
            border-color: #f5f5f5;
            background-color: rgba(255, 255, 255);
            margin-left: 45px;
            margin-right: 45px">


                @* FILL UP PART *@

                @* PROOFREADER *@
                <div class="row px-5">
                    <h1>Proofreader</h1>
                    <div class="py-3">
                        <div class="mb-3">
                            <label for="exampleInputEmail1" class="form-label">Name:</label>
                            <input type="email" class="form-control" id="exampleInputEmail1"
                                aria-describedby="emailHelp">
                        </div>
                        <div class="mb-3">
                            <label for="exampleInputEmail1" class="form-label">Date relased:</label>
                            <input type="email" class="form-control" id="exampleInputEmail1"
                                aria-describedby="emailHelp">
                        </div>
                        <div class="custom-file">
                            <div class="row">
                                <label class="py-2">Signature of Proofreader:</label>
                                <input type="file" class="custom-file-input" id="customFile">
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            @* BUTTON *@
            <div class="py-5 pe-5 float-end">
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>
    </form>
</body>