<div class="pt-3">
    <h1 class="poppins" style="font-weight:bold;">Proofread</h1>
</div>

<div class="table-responsive pt-3">
    <table class="table table-responsive table-borderless">

        <div class="btn-group" role="group" aria-label="Basic radio toggle button group">
            <input type="radio" class="btn-check" name="btnradio" id="btnradio1" autocomplete="off" checked>
            <label class="btn btn-outline-secondary" for="btnradio1">All</label>

            <input type="radio" class="btn-check" name="btnradio" id="btnradio2" autocomplete="off">
            <label class="btn btn-outline-secondary" for="btnradio2">Pending</label>

            <input type="radio" class="btn-check" name="btnradio" id="btnradio3" autocomplete="off">
            <label class="btn btn-outline-secondary" for="btnradio3">Completed</label>
        </div>


        <thead></thead>
        <tr class="bg-light">
            <th scope="col" width="3%"></th>
            <th scope="col" width="50%">Project</th>
            <th scope="col" width="20%">Status</th>
            <th scope="col" width="20%">Actions</th>
        </tr>
        </thead>

        <tbody>
            <tr>
                <td></td>
                <td class="link-hover"><a href="#">APC Project Repository</a></td>
                <td class="text-muted">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                        class="bi bi-check-circle" viewBox="0 0 16 16">
                        <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14" />
                        <path
                            d="m10.97 4.97-.02.022-3.473 4.425-2.093-2.094a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-1.071-1.05" />
                    </svg>
                    <span class="ms-1"> Pending</span>
                </td>
                <td>
                    <button type="button" class="btn btn-secondary">Accept</button>
                    <button type="button" class="btn btn-danger">Reject</button>
                </td>
            </tr>

            <tr>
                <td></td>
                <td class="link-hover"><a href="#">APC Project Repository</a></td>
                <td class="text-muted">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                        class="bi bi-check-circle" viewBox="0 0 16 16">
                        <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14" />
                        <path
                            d="m10.97 4.97-.02.022-3.473 4.425-2.093-2.094a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-1.071-1.05" />
                    </svg>
                    <span class="ms-1"> Complete</span>
                </td>
                <td>
                    <button type="button" class="btn btn-secondary">Accept</button>
                    <button type="button" class="btn btn-danger">Reject</button>
                </td>
            </tr>

            <tr>
                <td></td>
                <td class="link-hover"><a href="#">APC Project Repository</a></td>
                <td class="text-muted">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                        class="bi bi-check-circle" viewBox="0 0 16 16">
                        <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14" />
                        <path
                            d="m10.97 4.97-.02.022-3.473 4.425-2.093-2.094a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-1.071-1.05" />
                    </svg>
                    <span class="ms-1"> Pending</span>
                </td>
                <td>
                    <button type="button" class="btn btn-secondary">Accept</button>
                    <button type="button" class="btn btn-danger">Reject</button>
                </td>
            </tr>

            <tr>
                <td></td>
                <td class="link-hover"><a href="#">APC Project Repository</a></td>
                <td class="text-muted">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                        class="bi bi-check-circle" viewBox="0 0 16 16">
                        <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14" />
                        <path
                            d="m10.97 4.97-.02.022-3.473 4.425-2.093-2.094a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-1.071-1.05" />
                    </svg>
                    <span class="ms-1"> Complete</span>
                </td>
                <td>
                    <button type="button" class="btn btn-secondary">Accept</button>
                    <button type="button" class="btn btn-danger">Reject</button>
                </td>
            </tr>
        </tbody>