@model webapp.Models.Dtos.SubmissionDto;
@{
    ViewData["Title"] = "Home Page";
    var comment = (string)ViewData["Comment"]!;
    var projectId = (int)ViewData["ProjectId"]!;
    var state = (webapp.Models.ViewModels.StateViewModel)ViewData["State"]!;
}

<h1 class="heading1 poppins text-center py-3">Edit Project</h1>
<div class="border px-5 py-4">
    <form method="post" enctype="multipart/form-data" asp-action="Edit">
        <div class="py-3">
            <h3>Project Details</h3>
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="row">
                <div class="col">
                    <input type="checkbox" asp-for="Continued" class="form-check-input" />
                    <label asp-for="Continued" class="control-label">Continued from previous subject</label>
                    <span asp-validation-for="Continued" class="text-danger"></span>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <label asp-for="Title" class="control-label">Project Title</label>
                    <input type="text" asp-for="Title" class="form-control" placeholder="Project Title" />
                    <span asp-validation-for="Title" class="text-danger"></span>
                </div>
                <div class="col">
                    <label asp-for="Abstract" class="control-label">Abstract</label>
                    <textarea asp-for="Abstract" class="form-control" rows="3"></textarea>
                    <span asp-validation-for="Abstract" class="text-danger"></span>
                </div>
            </div>
            <div class="py-4">
                <h3>Project Tags</h3>
                <div class="row">
                    <div class="col-6">
                        <label asp-for="School" class="control-label">School/Department</label>
                        <select asp-for="School" class="form-select"
                            hx-get="/Form/Schools/@projectId"
                            hx-trigger="intersect once"
                            hx-target="this"
                        >
                            <!option>Loading...</!option>
                        </select>
                        <span asp-validation-for="School" class="text-danger"></span>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <label asp-for="Course" class="control-label">Course</label>
                        <select asp-for="Course" class="form-select" id="course-selector"
                            hx-get="/Form/Courses/@projectId"
                            hx-trigger="intersect once"
                            hx-target="this"
                        >
                            <!option>Loading...</!option>
                        </select>
                        <span asp-validation-for="Course" class="text-danger"></span>
                    </div>
                    <div class="col">
                        <label asp-for="Subject" class="control-label">Subject</label>
                        <select asp-for="Subject" class="form-select" id="subject-selector"
                            hx-get="/Form/Subjects/@projectId"
                            hx-trigger="intersect once"
                            hx-target="this"
                        >
                            <!option>Loading...</!option>
                        </select>
                        <span asp-validation-for="Subject" class="text-danger"></span>
                    </div>
                </div>

                <div class="row pt-3">
                    <div class="col">
                        <!-- this is for multiple tags, change the input tag later -->
                        <label asp-for="Tags" class="control-label">Tags (separated by commas)</label>
                        <input asp-for="Tags" type="text" class="form-control" placeholder="tag1, tag2, ...">
                        <span asp-validation-for="Tags" class="text-danger"></span>
                    </div>
                    <div class="col">
                        <label asp-for="Category" class="control-label">Category</label>
                        <select asp-for="Category" class="form-select"
                            hx-get="/Form/Categories/@projectId"
                            hx-trigger="intersect once"
                            hx-target="this"
                        >
                            <!option>Loading...</!option>
                        </select>
                        <span asp-validation-for="Category" class="text-danger"></span>
                    </div>
                </div>
            </div>

            <div class="py-4">
                <h3>Project Involvement</h3>
                <div class="row">
                    <div class="col">
                        <label asp-for="Group" class="control-label">Group Name</label>
                        <select asp-for="Group" class="form-select"
                            hx-get="/Form/Groups/@projectId"
                            hx-trigger="intersect once"
                            hx-target="this"
                            hx-swap="innerHTML"
                        >
                            <!option>Loading...</!option>
                        </select>
                        <span asp-validation-for="Group" class="text-danger"></span>
                    </div>
                    <div class="col">
                        <label asp-for="AdviserEmail" class="control-label">Adviser</label>
                        <select asp-for="AdviserEmail" class="form-select"
                            hx-get="/Form/Adviser/@projectId"
                            hx-trigger="intersect once"
                            hx-target="this"
                            hx-swap="innerHTML"
                        >
                            <!option>Loading...</!option>
                        </select>
                        <span asp-validation-for="AdviserEmail" class="text-danger"></span>
                    </div>
                </div>

                <div class="row pt-3">
                    <div class="col-md-6">
                        <label asp-for="InstructorEmail" class="control-label">Instructor</label>
                        <select asp-for="InstructorEmail" class="form-select"
                            hx-get="/Form/Instructor/@projectId"
                            hx-trigger="intersect once"
                            hx-target="this"
                            hx-swap="innerHTML"
                        >
                            <!option>Loading...</!option>
                        </select>
                        <span asp-validation-for="InstructorEmail" class="text-danger"></span>
                    </div>
                </div>
            </div>

            <div class="py-4">
                <h3>Project Files</h3>
                <div class="row">
                    <div class="col-md-4">
                        <label asp-for="File" class="control-label">
                            Project Manuscript
                        </label>
                        <input asp-for="File" class="form-control" type="file" />
                        <span asp-validation-for="File" class="text-danger"></span>
                    </div>
                    @if (state.Id >= (int)States.PrfStart)
                    {
                        <div class="col-md-4">
                            <label asp-for="Prf" class="control-label">
                                Proofreading Requisition Form @(state.Id == (int)States.PrfStart ? "(New)" : "")
                            </label>
                            <input asp-for="Prf" class="form-control" type="file" />
                            <span asp-validation-for="Prf" class="text-danger"></span>
                        </div>
                    }
                    @if (state.Id == (int)States.Finalizing)
                    {
                        <div class="col-md-4">
                            <label asp-for="Pdf" class="control-label">
                                Project Manuscript (PDF format) (New)
                            </label>
                            <input asp-for="Pdf" class="form-control" type="file" />
                            <span asp-validation-for="Pdf" class="text-danger"></span>
                        </div>
                    }
                </div>
            </div>

            <div class="py-4">
                <h3>Remarks</h3>
                <div class="row">
                    <div class="col-md-6">
                        @comment
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <label asp-for="Comment" class="control-label">
                            Remarks
                        </label>
                        <input asp-for="Comment" class="form-control" type="text" placeholder="Reply or clarify here" />
                        <span asp-validation-for="Comment" class="text-danger"></span>
                    </div>
                </div>
                <div class="row">
                    <div class="col pt-3">
                        <button type="submit" class="btn btn-primary float-end"
                            name="SubmitFlag" value ="true"
                        >
                            Confirm Edits and Submit
                        </button>
                        <button type="submit" class="btn btn-primary float-end">
                            Confirm Edits
                        </button>
                        <p class="float-end" title="@state.Desc">@state.Name (@state.Id/@((int)States.Published))</p>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
