@model webapp.Models.ViewModels.ProjectListViewModel;
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Projects</h1>
</div>

@foreach(var project in Model.Projects)
{
    @await Html.PartialAsync("/Views/Projects/_ProjectPartial.cshtml", project)
}


