@model webapp.Models.ViewModels.ProjectListViewModel;
@{
    ViewData["Title"] = "Home Page";
    var userType = (string)ViewData["UserType"]!;
    var userRoles = (List<int>)ViewData["UserRoles"]!;
    List<int> dirIds = [
        (int)Roles.Admin,
        (int)Roles.PblCoordinator,
        (int)Roles.ExecutiveDirector,
        (int)Roles.ProgramDirector
    ];
}

<div class="text-center">
    <h1 class="display-4">Projects</h1>
</div>

@if (userRoles.Intersect(dirIds).Any())
{
    <a href="/Projects/Export" class="btn btn-primary">Export Data</a>
}

@if (Model.UrgentProjects.Count >= 1)
{
    <h1>Urgent Projects</h1>
    @foreach(var project in Model.UrgentProjects)
    {
        @await Html.PartialAsync("/Views/Projects/_ProjectPartial.cshtml", project)
    }
}

@if (Model.Projects.Count >= 1)
{
    <h1>Projects</h1>
    @foreach(var project in Model.Projects)
    {
        @await Html.PartialAsync("/Views/Projects/_ProjectPartial.cshtml", project)
    }
}


