@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Manrope&family=Poppins:wght@400;700&display=swap');

* {
  font-family: 'Manrope', sans-serif;
}

html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
  padding-bottom: 40px;
}

.poppins {
  font-family: 'Poppins', sans-serif;
}

.top-padding-space-7 {
  padding-top: 7rem;
}

.top-padding-space-5 {
  padding-top: 5rem;
}

.bebas-neue {
  font-family: 'Bebas Neue', sans-serif;
}

.btn-upload {
  color: #fff;
  background-color: #5E81AC;
  border-color: #5E81AC;
}

a {
  color: #000000;
}

a:link {
  text-decoration: none;
}

a:hover {
  color:#4C566A;
}

.link-hover a:hover {
  text-decoration: underline;
}

.border {
  border: 3px solid;
  border-radius: 15px;
  box-shadow: 10px 10px 30px rgba(14, 14, 14, 0.2);
  border-color: #f5f5f5;
  background-color: rgba(255, 255, 255);
  margin-left: 45px;
  margin-right: 45px;
}

.heading1 {
  justify-content: center;
  align-items: center;
  color: rgb(114, 169, 201);
  font-weight: bold;
}